/* container esquerda */
.regras_table{
    color: white;
    display: none;
    background-color: rgba(81, 32, 6, 0.439);
    border-radius: 20px;
    margin-bottom: 100px;
}

.regras {
    padding: 10px;
    background-color: #563826;
    color: #ffffff;
    border-color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 20px;
}

/* fazer ranking */