/*Fundo da pagina*/
body {
    background-color: rgb(179, 156, 136);
}

/*Titulo*/
.title {
    display: flex;
    font-size: 50px;
    color: white;
    /* padding-right: 70px; */
    flex-direction: column;
    align-items: center;
    height: 100px;
    margin-bottom :0;
    width: 700px;
    margin:0;
    padding: 0;
    margin-top: 0;
}

.tamanho-tabuleiro {
    color:white;
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;

    flex-direction: column;
    align-items: center;
}

.instr {
   color: white;
}

.instr-title {
    color:rgb(74, 51, 29);
    background-color:rgb(163, 131, 105);
}

